body{
  background-color:#202060;
}
.Signup{
  background-color:#5D6D7E ;
  width: 100%;
  height: 100vh;
}
#card{
  width: 50%;
  height: 80vh;
}
.App {
  text-align: center;
}
.Card{
  z-index: -999;
  position: fixed;
  background: fixed;
}
.navbar{
  z-index: 999;
  position: relative;
}
ul{
  background-color:  #003366;
  cursor: pointer;
  width: 20%;
  float: left;
} 

#Photo{
  position: relative;
  z-index: 10;
}
.Cards{
  background: #61dafb;
}
#profile{
  cursor: pointer;
}
#cambridge{
  background: #ff6666;
  cursor: pointer;
  color: white;
}
#primary{
  background:#0099cc;
  cursor: pointer;
  color: white;
}
#secondary{
  background: blueviolet;
  cursor: pointer;
  color: white;
}
#tvet{
  background:  #006699;
  cursor: pointer;
  color: white;
}
#uzi{
  background: #009933;
  cursor: pointer;
  color: white;
}
#clear{
  cursor:pointer;
}
#create{
  border-radius: 25px;
   height: 30px;
   width:50%;
  margin-top: 5px;
  cursor: pointer;
  background-color:#9FE2BF;
  color:#000000
}

#account{
  background:#99ffbb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #003300;
  cursor: pointer;
}

#student{
  margin-top: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
